@charset "UTF-8";

p {
font-size: 12px;
font-size: 1.2rem;
}

html {
font-size: 62.5%;
}

body {
font-family: "M PLUS 1p", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Lato, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
background: #fff;
width: 100%;
margin: auto;
color: #444;
}

* {
margin: 0px;
padding: 0px;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

ul {
list-style: none;
margin: 0;
padding: 0;
}

li {
list-style: none;
}

a {
cursor: pointer;
text-decoration: none;
color: inherit;
}

/*---header-------------------------------------*/
header {
	padding: 43px 40px;
    width: 100%;
	-ms-flex-align: center;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    justify-content: space-between;
    background-color: #ffffff;
}
header h1 {
	margin-right: 32px;
}
header h1 img {
    width: 124px;
    vertical-align: top;
}
header .accordion-icon {
	display: none;
}
header .header-nav-bg {
	-webkit-transition: all .5s;
    background-color: rgba(0,0,0,.4);
    bottom: 0;
    height: 100vh;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all .5s;
    width: 100vw;
    z-index: -1;
}
header .header-nav-bg.show {
    opacity: 1;
    z-index: 101;
}
header .header-nav-wrap .header-nav {
	-ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
header .header-nav-wrap .header-nav .header-menu {
	position: relative;
}
@media (min-width: 768px) {
	header .header-nav-wrap {
		-webkit-transition: all .5s;
	    transition: all .5s;
	}
	header .header-nav-wrap .header-nav {
    	-ms-flex-pack: justify;
	    -webkit-box-pack: justify;
	    justify-content: space-between;
	    width: 754px;
	}
	header .header-nav-wrap .header-nav .header-menu {
		-ms-flex-align: center;
	    -ms-flex-pack: start;
	    -ms-flex-wrap: wrap;
	    -webkit-box-align: center;
	    -webkit-box-pack: start;
	    -webkit-box-sizing: border-box;
	    align-items: center;
	    box-sizing: border-box;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: flex-start;
	    padding-right: 47px;
	    width: calc(100% - 92px);
	}
	header .header-nav-wrap .header-nav .header-menu li:not(:last-child) {
	    margin-right: 24px;
	}
}
header .header-nav-wrap .header-nav .header-menu li a {
	font-size: 12px;
    line-height: 3.29;
	color: #292929;
	font-family: dunbar-low,sans-serif;
	font-size: 14px;
	font-style: italic;
	font-weight: 600;
	position: relative;
}
header .header-icons {
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}
header .header-icons ul {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -ms-flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header .header-icons ul li a {
	display: inline-block;
}
header .header-icons ul li a img {
	height: 25px;
	-webkit-transition: all .3s;
    display: inline-block;
    transition: all .3s;
}
@media (min-width: 768px) {
	header .header-icons {
	    width: 92px;
	}
	header .header-icons ul {
		-ms-flex-pack: start;
	    -webkit-box-pack: start;
	    justify-content: flex-start;
	 }
	 header .header-icons ul li:not(:first-child) {
	    margin-left: 24px;
	}
}
@media (max-width: 768px) {
	header {
    	padding: 21px 0 23px;
	}
	header h1 img {

	}
	header .accordion-icon {
		display: block;
		height: 46px;
	    mix-blend-mode: difference;
	    position: fixed;
	    right: 15px;
	    top: 28px;
	    width: 36px;
	    z-index: 102;
	}
	header .accordion-icon a {
		-webkit-transition: all .5s;
	    display: block;
	    height: 100%;
	    position: relative;
	    transition: all .5s;
	    width: 100%;
	}
	header .accordion-icon a:before {
		top: 0;
	}
	header .accordion-icon.show a:before {
		-webkit-transform: rotate(45deg);
	    -webkit-transform-origin: left top;
	    transform: rotate(45deg);
	    transform-origin: left top;
	}
	header .accordion-icon a:after {
		top: 24px;
	}
	header .accordion-icon.show a:after {
		-webkit-transform: rotate(-45deg);
	    -webkit-transform-origin: left bottom;
	    top: 25px;
	    transform: rotate(-45deg);
	    transform-origin: left bottom;
	}
	header .accordion-icon a:before,
	header .accordion-icon a:after {
		-webkit-transition: all .5s;
		color: #292929;
	    background-color: #fff;
	    content: "";
	    display: block;
	    height: 4px;
	    left: 0;
	    position: absolute;
	    right: 0;
	    transition: all .5s;
	    width: 36px;
	}
	header .accordion-icon.show a:before,
	header .accordion-icon.show a:after {
		left: 7px;
    	width: 37px;
	}
	header .accordion-icon a i {
		-webkit-transition: all .5s;
		color: #292929;
	    background-color: #fff;
	    display: block;
	    height: 4px;
	    left: 0;
	    position: absolute;
	    top: 12px;
	    transition: all .5s;
	    width: 36px;
	}
	header .accordion-icon.show a i {
		opacity: 0;
	}
	header .accordion-icon a p {
		color: #fff;
		-webkit-transform: translateX(-50%);
	    -webkit-transition: all .5s;
	    bottom: 0;
	    left: 50%;
	    position: absolute;
	    transform: translateX(-50%);
	    transition: all .5s;
	}
	header .accordion-icon a .menu {
		display: block;
	}
	header .accordion-icon a .close {
		display: none;
	}
	header .accordion-icon.show a .menu {
		display: none;
	}
	header .accordion-icon.show a .close {
		display: block;
	}
	header .header-nav-wrap {
		-webkit-transform: translateX(88vw);
	    bottom: 0;
	    display: none;
	    position: fixed;
	    right: 0;
	    top: 0;
	    transform: translateX(88vw);
	    width: 88vw;
	    z-index: 101;
	}
	header .header-nav-wrap.show {
		display: block;
		-webkit-transform: translateX(0);
    	transform: translateX(0);
	}
	header .header-nav-wrap .header-nav {
		-ms-flex-wrap: wrap;
	    -ms-overflow-style: none;
	    -webkit-box-sizing: border-box;
	    -webkit-overflow-scrolling: auto;
	    background-color: #ffffff;
	    box-sizing: border-box;
	    flex-wrap: wrap;
	    height: 100%;
	    overflow-y: scroll;
	    padding-bottom: 32px;
	    padding-top: 64px;
	    position: relative;
	    z-index: 1;
	}
	header .header-nav-wrap .header-nav .header-menu {
		position: relative;
		padding-left: 15vw;
    	width: calc(100% - 140px);
	}
	header .header-nav-wrap nav ul:before {
	    background-color: #e2e2e2;
	    bottom: 0;
	    content: "";
	    display: block;
	    height: 100%;
	    position: absolute;
	    right: -0.5px;
	    top: 0;
	    width: 1px;
	}
	header .header-nav-wrap .header-nav .header-menu li:not(:last-child) {
	    margin-bottom: 24px;
	}
	header .header-nav-wrap .header-nav .header-menu li a {
	    color: #292929;
	}
	header .header-icons {
		position: relative;
    	width: 140px;
	}
	header .header-icons:before {
	    background-color: #e2e2e2;
	    bottom: 0;
	    content: "";
	    display: block;
	    height: 100%;
	    left: -0.5px;
	    position: absolute;
	    top: 0;
	    width: 1px;
	}
	header .header-icons ul li {
	    text-align: center;
    	width: 100%;
    }
    header .header-icons ul li:not(:first-child) {
	    margin-top: 24px;
	}
}

/* --- main -----------------------------------------*/
main {
    margin: auto;
    overflow: hidden;
}

main .main-image {
	width: 100%;
	position: relative;
}
main .main-image h2 {
	font-size: 30px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: 0 auto;
	width: 300px;
	height: 50px;
}
main .main-image img {
	width: 100%;	
}
main .conts {
	position: relative;
}
main .conts img {
	width: 100%;
}
main .conts .concept {
	margin: 0 auto;
}
main .conts .concept p {
	font-family: "Noto Sans JP", serif;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 1.2;
}
main .conts .concept .pickup {
	font-size: 5rem;
	line-height: 3;
	text-align: right;
	margin-right: -100px;
}
main .conts2 .recruit-wrap {
	width: 100%;
}
main .conts2 .recruit-wrap .title {
	color: #ffffff;
	font-family: "Montserrat", "Noto Sans JP", sans-serif;
    font-size: 11rem;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 1.2;
    text-align: center;
}
main .conts2 .recruit-wrap .intro {
	color: #ffffff;
	font-family: "Noto Sans JP", serif;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 4;
    text-decoration: underline;
    text-align: center;
}
main .conts2 .recruit-wrap .checkbox-wrap {
	color: #ffffff;
	width: 505px;
	margin: 0 auto;
}
main .conts2 .recruit-wrap .checkbox-wrap label {
	float: left;
}
main .conts2 .recruit-wrap a {
	display: block;
	width: 400px;
	margin: 100px auto 0 auto;
}
main .conts2 .recruit-wrap a img {
	width: 100%;
	filter: drop-shadow(2px 2px 2px rgba(160, 160, 160, 0.8));
}
main .conts .title-wrap {
	width: 100%;
}
main .conts .title-wrap .title {
	color: #292929;
    font-family: dunbar-low,sans-serif;
    font-size: 50px;
    font-style: italic;
    font-weight: 600;
    line-height: 1.2;
}
main .conts .title-wrap .title.red {
    background: linear-gradient(to top, red 0% 50%, rgba(0,0,0,0) 50% 100%)
}
main .conts .title-wrap .title.yellow {
    background: linear-gradient(to top, yellow 0% 50%, rgba(0,0,0,0) 50% 100%)
}
main .conts .title-wrap .title.blue {
    background: linear-gradient(to top, blue 0% 50%, rgba(0,0,0,0) 50% 100%)
}
main .conts2 {
	position: relative;
	background-color: #292929;
	padding: 50px 0;
}
main .conts .cont-wrap {
	width: 100%;
}
main .conts .cont-wrap .title-wrap .title {
	color: #292929;
    font-family: dunbar-low,sans-serif;
    font-size: 50px;
    font-style: italic;
    font-weight: 600;
    line-height: 1.2;
}
main .conts .cont-wrap iframe {
	margin: 0 0 30px 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}
main .conts .sns-wrap {
	-ms-flex-align: center;
    -ms-flex-pack: justify;
    -ms-flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
main .conts .sns-wrap .sns-box {
	-ms-overflow-style: none;
    -webkit-overflow-scrolling: auto;
    border: 1px solid #979797;
    border-radius: 5px;
    height: 360px;
    overflow-y: scroll;
    scrollbar-width: none;
    width: 100%;
}
main .conts .notes-wrap {
	position: relative;
    width: 100%;
    max-width: 1090px;
    margin: 80px auto;
    background: #fff;
    box-shadow: 1px 1px 5px #aaa;
    border-radius: 0.3em;
}
main .conts .notes-wrap .notes {
	width: 100%;
    text-align: center;
    overflow: hidden;
}
main .conts .notes-wrap .notes div {
	padding: 30px 0;
    margin: 6em 7em 3.5em;
    background-color: #F1F1F1;
}
main .conts .notes-wrap .notes div h3 {
	color: initial;
    font-size: 2.5em;
    padding: 0 0 1.3em;
    width: 92%;
    margin: 0 auto 1em;
    border-bottom: 1px solid #000;
}
main .conts .notes-wrap .notes div p {
	color: initial;
    font-size: 1.6em;
    text-align: left;
    padding: 0 2em 0 3.5em;
    line-height: 2em;
    margin-left: 1em;
    text-indent: -1em;
}
@media (min-width: 768px) {
	main .conts {
		width: 808px;
    	margin: 143px auto 160px;
		-ms-flex-align: start;
	    -ms-flex-pack: justify;
	    -ms-flex-wrap: wrap;
	    -webkit-box-align: start;
	    -webkit-box-pack: justify;
	    align-items: flex-start;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	}
	main .conts .title-wrap {
		margin-bottom: 50px;
   		margin-left: -32px;
	}
	main .conts2 .cont-wrap {
		width: 808px;
    	margin: 30px auto;
		-ms-flex-align: start;
	    -ms-flex-pack: justify;
	    -ms-flex-wrap: wrap;
	    -webkit-box-align: start;
	    -webkit-box-pack: justify;
	    align-items: flex-start;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	}
	main .conts2 .cont-wrap .title-wrap {
		margin-bottom: 50px;
   		margin-left: -32px;
	}
}
@media (max-width: 768px) {
	main .conts {
		margin-left: 30px;
    	margin-right: 30px;
    	margin-bottom: 100px;
	}
	main .conts .concept {
		padding-top: 100px;
	}
	main .conts .concept p {
		font-family: "Noto Sans JP", serif;
	    font-size: 1.3rem;
	    font-weight: bold;
	    letter-spacing: 0.03em;
	    line-height: 1.2;
	}
	main .conts .concept .pickup {
		font-size: 3rem;
		line-height: 2;
		text-align: right;
		margin-right: -20px;
	}
	main .conts .concept p .none {
		display: none;
	}
	main .conts .recruit-wrap {
		width: 100%;
		margin-bottom: 50px;
	}
	main .conts2 .recruit-wrap .title {
	    font-size: 5rem;
	}
	main .conts2 .recruit-wrap .intro {
	    font-size: 2rem;
	}
	main .conts2 .recruit-wrap .checkbox-wrap {
		color: #ffffff;
		width: 300px;
		margin: 0 auto;
	}
	main .conts2 .recruit-wrap .checkbox-wrap label {
		float: left;
	}
	main .conts2 .recruit-wrap a {
		display: block;
		width: 300px;
		margin: 140px auto 0 auto;
	}
	main .conts2 .recruit-wrap a img {
		width: 100%;
		filter: drop-shadow(2px 2px 2px rgba(160, 160, 160, 0.8));
	}
	main .conts .title-wrap {
		margin-bottom: 24px;
	}
	main .conts .title-wrap .title {
		font-size: 36px;
    	text-align: center;
	}
	main .conts2 {
	    margin-bottom: 100px;
	}
	main .conts2 .cont-wrap {
		margin: 10px auto 10px auto;
	}
	main .conts2 .cont-wrap .title-wrap {
		margin-bottom: 24px;
	}
	main .conts2 .cont-wrap .title-wrap .title {
		font-size: 36px;
    	text-align: center;
	}
	main .conts2 .cont-wrap iframe {
		margin: 0 0 40px 0;
	    width: 100%;
	    height: 100%;
	    aspect-ratio: 16/9;
	}
	main .conts .notes-wrap {
		margin: 30px auto;
	}
	main .conts .notes-wrap .notes div {
		padding: 20px 0;
    	margin: 2em 2em 2em;
	}
	main .conts .notes-wrap .notes div h3 {
		font-size: 2em;
	}
	main .conts .notes-wrap .notes div p {
		font-size: 1.2em;
	}
}
footer {
	padding-top: 20px;
	background-color: #292929;
}
footer .footer-logo-wrap {
	-webkit-transition: all .3s;
    text-align: center;
    transition: all .3s;
}
footer .footer-logo-wrap a,
footer .footer-logo-wrap a img {
	display: inline-block;
    height: 63px;
    width: 145px;
}
footer .footer-nav {
	padding: 32px 0 60px;
}
footer .footer-nav .footer-menu {
	-ms-flex-align: center;
    -ms-flex-pack: center;
    -ms-flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer .footer-nav .footer-menu li {
	margin: 0 12px;
}
footer .footer-nav .footer-menu li a {
	-webkit-transition: all .3s;
    color: #ffffff;
    display: block;
    font-family: dunbar-low,sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    line-height: 3.29;
    transition: all .3s;
}
footer .footer-nav .footer-sns {
	margin-top: 36px;
	-ms-flex-align: center;
    -ms-flex-pack: center;
    -ms-flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer .footer-nav .footer-sns li:not(:first-of-type) {
    margin-left: 24px;
}
footer .footer-nav .footer-sns a {
	display: inline-block;
}
footer p {
	width: 100%;
	background-color: #ffffff;
	padding: 10px 0;
	color: #292929;
	text-align: center
}
@media (max-width: 768px) {
	footer .footer-nav {
		padding: 36px 0 62px;
	}
	footer .footer-nav .footer-menu li {
		margin: 0 16px 10px;
	}
	footer .footer-nav .footer-sns {
		margin: 30px 15px 0;
	}
	footer .footer-nav .footer-sns li {
		margin-left: 12px;
	    margin-right: 12px;
	    margin-top: 9px;
	}
}
.pagetop {
	-webkit-transition: opacity 1s;
    bottom: 15px;
    opacity: 0;
    position: fixed;
    right: 10px;
    transition: opacity 1s;
    z-index: 100;
}
.pagetop img {
	width: 75px;
}
.pagetop.show {
	opacity: 1;
}

/*チェックボックス*/
.ECM_CheckboxInput {
  padding: 12px 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.ECM_CheckboxInput-Input {
  margin: 0;
  width: 0;
  opacity: 0;
}
.ECM_CheckboxInput-Input:checked + .one {
  background: red;
}
.ECM_CheckboxInput-Input:checked + .two {
  background: yellow;
}
.ECM_CheckboxInput-Input:checked + .three {
  background: blue;
}
.ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35%;
  height: 4px;
  border-radius: 2px;
  transform: translate(-6px, 5px) rotateZ(-135deg);
  transform-origin: 2px 2px;
  background: #FFFFFF;
}
.ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 4px;
  border-radius: 2px;
  transform: translate(-6px, 5px) rotateZ(-45deg);
  transform-origin: 2px 2px;
  background: #FFFFFF;
}
.ECM_CheckboxInput-DummyInput {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 32px;
  height: 32px;
  border: solid 2px transparent;
  background: rgba(0, 0, 0, .15);
  border-radius: 50%;
  transition: all .15s linear;
}
.ECM_CheckboxInput-LabelText {
  margin-left: 12px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
